:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  --color-primary: #212121;
  --color-secondary: #757575;
  --color-light: #ffffff;
  --color-hover: #2196f3;
  --background-color: #f5f4fa;
}

body {
  font-family: var(--font-primary);
  background: var(--color-light);
  font-style: normal;
  color: var(--color-primary);
}

.header {
  display: flex;
  width: 1600px;
  height: 80px;
  background: #ffffff;
  box-sizing: border-box;
  align-items: center;
  padding-right: 227px;
  padding-left: 215px;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header-link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.header-nav {
  display: flex;
  flex-direction: row;
  row-gap: 46px;
  box-sizing: border-box;
  width: 254px;
  height: 16px;
  left: 453px;
  top: 32px;
  margin-left: 93px;
}

.header-nav-link {
  display: inline;
  flex-direction: row;
  margin-right: 46px;
}

.current {
  color: #2196f3;
}

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.header-div {
  display: flex;
  margin-left: 371px;
  justify-content: flex-end;
}

.header-contact {
  color: #757575;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: 0.02em;
  width: 110px;
  height: 16px;
  padding: 0%;
  margin-right: 50px;
  flex-direction: row;
}

.header-contact:hover,
.header-contact:focus {
  color: #2196f3;
}

.button-block {
  box-sizing: border-box;
  width: 572px;
  height: 54px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  padding: 0;
  margin-left: 295px;
}

.button-link {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  color: #212121;
  border: #f5f4fa;
  font-family: inherit;
}

.button-link:hover,
.button-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio-section {
  display: block;
  box-sizing: border-box;
  width: 1170px;
  height: 1360px;
  padding: 0;
  margin: auto;
  margin-top: 94px;
  flex-direction: row;
}

.portfolio-frame {
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.h3-portfolio {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.paragraph-portfolio {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.block {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-content: flex-start;
  box-sizing: border-box;
  max-width: 1200px;
  height: 1360px;
  padding: auto;
  margin: 0%;
  flex-wrap: wrap;
}

footer {
  background: #2f303a;
}

.logo-footer {
  color: #ffffff;
}

.footer-web {
  display: block;
  box-sizing: border-box;
  width: 1600px;
  height: 252px;
}

.logo-web-footer {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-top: 60px;
  margin-left: 215px;
}

.footer-address {
  display: block;
  margin-bottom: 60px;
  margin-left: 215px;
  padding: 0%;
  justify-content: space-around;
  flex-direction: column;
  gap: 9px;
  align-content: stretch;
}

.footer-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
  box-sizing: content-box;
  width: 246px;
  height: 21px;
}

.footer-link:hover,
.footer-link:focus {
  color: #2196f3;
}

.footer-link2 {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.footer-link2:hover,
.footer-link2:focus {
  color: #2196f3;
}

.webstudio-h1 {
  box-sizing: border-box;
  width: 696px;
  height: 120px;
  font-size: 44px;
  line-height: 1.4;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 200px 452px 280px;
  display: block;
  text-align: center;
  align-items: center;
}

.webstudio-section {
  display: flex;
  background: #2f303a;
  box-sizing: border-box;
  width: 1600px;
  height: 600px;
}

.button-webstudio {
  font-family: "Roboto";
  background: #2196f3;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 41px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.logo-studio {
  color: #000000;
}

.logo-web {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.03em;
  padding: 0%;
  box-sizing: border-box;
  width: 145px;
  height: 31px;
}

.lorem-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 1170px;
  height: 101px;
  padding: 0%;
  margin: 94px 215px;
}

.lorem-h2 {
  color: #212121;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.lorem-block {
  display: inline-block;
  flex-direction: row;
  box-sizing: border-box;
  margin-right: 30px;
  width: 270px;
  height: 101px;
}

.paragraph-lorem {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
  box-sizing: content-box;
  width: 270px;
  height: 75px;
}

.our-job-section {
  display: block;
  flex-direction: row;
  box-sizing: border-box;
  width: 1170px;
  height: 386px;
  margin: 94px 215px;
}

.our-job-h2 {
  display: inline;
  color: #212121;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 0%;
  margin-left: 409px;
}

.our-job-block {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 50px;
  gap: 30px;
}

.our-team-h2 {
  color: #212121;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  margin: 0%;
  padding-top: 94px;
  padding-left: 695px;
  padding-bottom: 50px;
  letter-spacing: 0.03em;
}

.our-team {
  background: #f5f4fa;
}

.section {
  display: block;
  box-sizing: content-box;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
}

.our-team-frame {
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1635px;
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  position: absolute;
  width: 1170px;
  height: 368px;
  left: 215px;
  top: 1635px;
  margin: 0%;
  padding: 0%;
}

.photo-name {
  color: #212121;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-position {
  color: #757575;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.03em;
}
